node_modules
dist
.env
.env.*
!.env.example
secrets/
service-account.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
*.tsbuildinfo
logs/
frontend/vite.config.js
frontend/vite.config.d.ts
playwright-report
test-results
.DS_Store
.vscode/settings.json
.vscode/mcp.json
stitch_niyojan
# gcloud compute scp instance-20260501-192652:/home/am8468616/Niyojan/logs/backend-out.log ~/Downloads --project=helical-button-486909-m8
